<%- include("partials/header"); -%>


    <h1>React API in Node.js with MongoDB as database for creation tasts with in a duration ( in minutes)</h1>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2>All the documents will expire after 1 mintue of creation</h2>
            </div>
        </div>
    </div>
    <br>

    <a href="/list"> <button class="btn btn-warning">List all Tasks</button></a>
    <a href="/add"> <button class="btn btn-warning">Add new Task</button></a>

    <%- include("partials/footer"); -%>