<%- include("partials/header"); -%>


    <h1>React API in Node.js with MongoDB as database for creation tasts with in a duration ( in minutes)</h1>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2>
                    <ul>
                        <li>I used Node.js for Backend</li>
                        <li>I used Mongoose Database for Backend</li>
                        <li>I used JavaScript Css Html for Frontend</li>
                    </ul>


                </h2>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <a href="/list"> <button class="btn btn-warning">List all Tasks</button></a>
                <a href="/add"> <button class="btn btn-warning">Add new Task</button></a>
            </div>
        </div>
    </div>

    <%- include("partials/footer"); -%>